In [ ]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [ ]:
internet = pd.read_csv("gapminder_internet.csv")
internet.dropna(inplace = True) #To erase all NAN value
print(internet)

mean = internet["internetuserate"].mean() #take the mean/average

internet["UserRate"] = np.where(internet["internetuserate"] > mean, "Often", "Rarely") #Make another column to show wether people in the country is often usen the inter or no
internet

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210          Yemen, Rep.       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

                 country  incomeperperson  internetuserate  urbanrate UserRate
1                Albania      1914.996551        44.989947      46.72    Often
2                Algeria      2231.993335        12.500073      65.22   Rarely
3                Andorra     21943.339900        81.000000      88.92    Often
4                 Angola      1381.004268         9.999954      56.70   Rarely
5    Antigua and Barbuda     11894.464070        80.645455      30.46    Often
..                   ...              ...              ...        ...      ...
207            Venezuela      5528.363114        35.850437      93.32    Often
208              Vietnam       722.807559        27.851822      27.84   Rarely
210          Yemen, Rep.       610.357367        12.349750      30.64   Rarely
211               Zambia       432.226337        10.124986      35.42   Rarely
212             Zimbabwe       320.771890        11.500415      37.34   Rarely

[182 rows x 5 columns]

In [ ]:
X=internet.iloc[0:209,[1,3]] #Slice the csv to take incomeperson and urbanrate
y=internet.loc[0:212,'UserRate'] #Slice to take userate

clf = svm.SVC(kernel='rbf', random_state=5, gamma=5, C=5)

clf.fit(X, y) #This is to train the data to predict (This fit needs to be called before you do predict)

y_pred=clf.predict(X)


print(accuracy_score(y, y_pred)) #Accuracy score from the predicted and previous

1.0